{% extends 'base.html.twig' %}

{% block pageTitle %}
	<h1 class="display-4">Adding a new task to the to do list!</h1>
{% endblock %}
{% block pageDescription %}
	<p class="lead">Fill in the form bellow.</p>
{% endblock %}

{% block body %}
	{{ form_start(form) }}
		{{ form_row(form.author, { 'attr': {'list': 'users','class': 'w50'} }) }}
		<datalist id="users">
		{% for user in users %}
			<option value="{{user.name}}"></option>
		{% endfor %}
		</datalist>
    	{{ form_row(form.title, {'attr': {'class': 'w50'} }) }}
		{{ form_row(form.description) }}
		{{ form_row(form.complete) }}
		<button class="btn btn-success" type="submit"><i class="fas fa-plus fa-2x"></i></button>
	{{ form_end(form) }}
{% endblock %}